body
{
    font-family: 'Noto Sans Bengali', 'Noto Sans';
}

@media print {
    body
    {
	font-family: 'Noto Sans Bengali', 'Noto Serif';
    }
}

pre code
{
    font-family: 'Noto Sans Bengali', 'Noto Sans';
}

h1.title { text-align: left; }
p.author { text-align: left; }

img
{
    display: block;
    !margin-left: auto;
    !margin-right: auto;
    width: 100%;
}

pre
{
    padding: 0.5em;
    font-weight: normal;
    font-size: 90%;
}

h1, h2, h3
{
    font-family: 'Noto Sans Bengali', 'Noto Serif';
}


h1.title
{
    padding: 10px;
    font-weight: bold;
}

div.toc ul
{ 
    display: inline;
    list-style: none;
    list-style-position: inside;
    padding-left: 0px;
}

div.toc li
{ 
    padding: 5px;
}

div.toc li:hover 
{ 
  background-color: #efefef;
}

