body
{
    padding-top: 5rem;
    font-family: 'Noto Sans Bengali', 'Noto Sans';
}

@media print {
    body
    {
	font-family: 'Noto Sans Bengali', 'Noto Serif';
	font-size: 150%;
    }
    pre code
    {
	font-size: 100%;
    }
    h1
    {
	page-break-before: always;
    }
}

pre code
{
    font-family: 'Noto Sans Bengali', 'Noto Sans';
}


img
{
    display: block;
    !margin-left: auto;
    !margin-right: auto;
    width: 100%;
}

pre
{
    padding: 0.5em;
    font-weight: normal;
    font-size: 90%;
    border: none;
}

h1, h2, h3
{
    padding: 5px;
    font-family: 'Noto Sans Bengali', 'Noto Serif';
}

h1.title
{
    padding: 10px;
    font-weight: bold;
}


.nav-link
{
    fill: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    padding: 5px;
}

.nav-link:hover
{
    fill: rgba(255, 255, 255, 1);
    text-decoration: none;
    padding: 5px;
}


.dropdown-menu {         
    max-height: 85vh;
    overflow-y: auto;
}

.dropdown-menu ul, ul.toc-print
{ 
    display: inline;
    list-style: none;
    list-style-position: inside;
}

.dropdown-menu ul li
{ 
    padding-top: 5px;
    padding-bottom: 5px;
}


.dropdown-menu ul li a, ul.toc-print li a
{ 
    text-decoration: none;
    color: inherit;
}

.dropdown-menu li:hover 
{ 
    background-color: #efefef;
}

div.main-content
{
    max-width: 1000px;
    margin: auto;
}
