body
{
    padding-top: 4.5rem;
    font-family: 'Noto Sans Bengali', 'Noto Sans';
}

@media print {
    body
    {
	font-family: 'Noto Sans Bengali', 'Noto Serif';
    }
}

pre code
{
    font-family: 'Noto Sans Bengali', 'Noto Sans';
}


img
{
    display: block;
    !margin-left: auto;
    !margin-right: auto;
    width: 100%;
}

pre
{
    padding: 0.5em;
    font-weight: normal;
    font-size: 90%;
}

h1, h2, h3
{
    padding: 5px;
    font-family: 'Noto Sans Bengali', 'Noto Serif';
}

h1.title
{
    padding: 10px;
    font-weight: bold;
}

div.toc ul
{ 
    display: inline;
    list-style: none;
    list-style-position: inside;
    padding-left: 0px;
}

div.toc li
{ 
    padding: 5px;
}

div.toc li:hover 
{ 
  background-color: #efefef;
}

a.nav-link
{
    fill: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    padding: 5px;
}

a.nav-link:hover
{
    fill: rgba(255, 255, 255, 1);
    text-decoration: none;
    padding: 5px;
}


.dropdown-menu {         
    max-height: 85vh;
    overflow-y: auto;
}



